extends layout

block head
  script(
    src="http://d3js.org/d3.v3.min.js"
    charset="utf-8")
  script(type="text/javascript", src="/bower_components/rickshaw/rickshaw.js")
  script(type="text/javascript", src="/bower_components/momentjs/moment.js")

  link(rel="stylesheet", href="/bower_components/rickshaw/rickshaw.css")
  link(rel="import", href="/elements/framework-resource.html")
  link(rel="import", href="/elements/framework-datetime.html")
  link(rel="import", href="/elements/framework-currency.html")

block content
  h1 
    .glyphicon.glyphicon-time
    span  #{meeting.title} 
  h6 (#{meeting.id}) | 
    a(href="/meeting/#{meeting.id}") detail

  meeting-analytics-app#app(meetingId="#{meeting.id}")




  //- Polymer element definitions

  polymer-element(name="meeting-log-resource", extends="framework-resource")
    script.
      Polymer("meeting-log-resource",{
        url: '/api/meetingslog',
        data: [],
        parse: function(d){
          return _.defaults({
            startTime: new Date(d.startTime),
            stopTime: new Date(d.stopTime)
          }, d);
        }
      })

  polymer-element(name="meeting-log-list")
    template
      table.table.table-stripted
        thead
          th Date
          th Start
          th End
          th Duration
          th
            span.pull-right Cost
        tbody
          template(repeat="{{log in logs}}")
            tr
              td
                framework-date(datetime="{{log.startTime}}")
              td 
                framework-time(datetime="{{log.startTime}}")
              td 
                framework-time(datetime="{{log.stopTime}}")
              td 
                framework-datetime-duration(begin="{{log.startTime}}", end="{{log.stopTime}}")
              td 
                framework-currency(value="{{ log.cost }}")
    script.
      Polymer("meeting-log-list", {
        logs: [],
        created: function(){


        }
      });

  polymer-element(name="meetings-chart")
    style.
      #chart_container {
        margin-top: 20px;
        position: relative;
      }
      #chart {
        position: relative;
        left: 40px;
        display: block;
      }
      #y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
      }
      #x_axis {
        position: relative;
        left: 40px;
        height: 40px;
      }
      #legend_container {
        float: left;
      }

    template
      .row
        .col-md-10
          select#by(value="{{by}}")
            option(value="year") Year
            option(value="month") Month
            option(value="day") Day
      .row
        .col-md-10
          #chart_container
            #y_axis
            #chart
            #x_axis
        .col-md-2
            #legend_container
              #legend
    script.
      Polymer("meetings-chart", {
        by: 'year',
        dateFormats: {
          year: 'YYYY',
          month: 'YYYY-MMM',
          day: 'YYYY-MMM-DD'
        },

        created: function(){
          var self = this;
          self.palette = new Rickshaw.Color.Palette({ scheme: 'classic9' });
        },

        byChanged: function(){
          var self = this;
          self.refreshChartData();
        },

        initializeChart: function(series)
        {
          var self = this;

          var graph = self.graph = new Rickshaw.Graph({
            element: self.$.chart,
            renderer: 'bar',
            height: 300,
            width: 800,
            series: series
          });

          self.y_ticks = new Rickshaw.Graph.Axis.Y( {
            graph: self.graph,
            orientation: 'left',
            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
            element: self.$.y_axis,
          });

          var legend = self.legend = new Rickshaw.Graph.Legend( {
            graph: graph,
            element: self.$.legend
          } );

          var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
              graph: graph,
              legend: legend
          });
          var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
              graph: graph,
              legend: legend
          });

          var hoverDetail = new Rickshaw.Graph.HoverDetail( {
              graph: graph,
              xFormatter: function(x){
                return moment.unix(x).format(self.dateFormats[self.by]);
              },
              formatter: function(series, x, y){ 
                return "<div>" + series.name + "</div>"
                  + "<div>$ " + y.toFixed(2) + "</div>"; 
              }
          } );

          self.graph.render();
        },

        dataChanged: function(){
          var self = this;
          self.refreshChartData();
        },

        refreshChartData: function(){
          var self = this;
          var by = self.by;
          var series = self.getChartSeries();

          if(self.graph) {
            series.forEach(function(s){
              console.log(s);
              var d = _.find(self.graph.series, function(d){ return d.name == s.name; });
              console.log(d);
              d.data = s.data;
            });
            self.graph.update();
          }
          else {
            self.initializeChart(series);
          }
        },

        getChartSeries: function(){
          var self = this;
          var series = _.chain(self.data)
            .map(function(x){ 
              return _.map(x.participants, function(p){
                return {
                  date: moment(x.startTime).startOf(self.by).toDate(), 
                  type: p.type, 
                  cost: p.totalCost
                };
              });
            })
            .flatten()
            .groupBy('type')
            .map(function(v, k){
              return {
                name: k,
                color: self.palette.color(),
                data: _.chain(v)
                  .groupBy("date")
                  .map(function(v, k){
                    return {
                      x: moment(k).unix(),
                      y: _.reduce(v, function(result, item){
                        return result + item.cost;
                      }, 0)
                    }
                  })
                  .flatten()
                  .value()
              };
            })
            .value();

          console.log("get chart series", series);
          return series;
        }
      })

  polymer-element(name="meeting-analytics-app")
    template
      .row
        .col-md-10.col-md-offset-1
          meetings-chart#chart

      .row
        .col-md-10.col-md-offset-1
          meeting-log-list#list
      meeting-log-resource#resource(on-query-complete="populateMeetingLogs")

    script.
      Polymer("meeting-analytics-app", {
        publish: {
          meetingId: ''
        },

        created:function(){
          var self = this;
          self.initialize();
        },

        meetingIdChanged: function(){
          var self = this;
          self.initialize();
        },

        initialize: function(){
          var self = this;
          self.$.resource.query({meetingId: self.meetingId});
        },

        populateMeetingLogs: function(e, sender, detail){
          var self = this;
          if(sender.data.length) {
            self.$.list.logs = sender.data;
            self.$.chart.data = sender.data;
          }
        },
      })

    


